@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6; /* Improve readability */
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
}
